.barra {
  display: flex;
  gap: var(--gap);
  align-items: center;
  justify-content: space-between;
  min-block-size: 3.5rem;
  padding: var(--space-3) var(--space-5);
}

.acciones {
  display: flex;
  gap: var(--space-4);
  align-items: center;
  margin-inline-start: auto;
}
